
.banner-image {
    width: 100%;
    background-image: linear-gradient(rgba(50, 129, 202, 0.315), rgba(20, 74, 190, 0.247)), url("../../assets/images/banner.jpeg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media (max-width: 640px) {
        height: 30vh;
    }
}