
<div class="banner-image"></div>
<div class="bg-gray-50">
	<div class="flex p-4">
		<span class="text-2xl font-semibold tracking-widest uppercase">Liipy</span>
		<span class="text-xs self-end">{{ appVersion }}</span>
	</div>
<!-- <pre>{{  items | json}}</pre> -->
<div class="max-w-5xl mx-auto pb-6 p-4">
    <h1 class="text-2xl font-bold pb-4">HSL liityntäpysäköinnin reaaliaikaisen seuranta</h1> 
    <p class="text-sm">Liipystä voit helposti tarkistaa, kuinka paljon parkkipaikkoja on vapaana metron ja junan läheisyydessä HSL:n alueella. 
    Liityntäpysäköinti on olennainen osa sujuvaa ja ekologista liikkumista ja me haluamme tehdä siitä mahdollisimman helppoa sinulle. 
    Listattuna on ainoastaa pysäköintitilat, joista Hsl tarjoaa tilanneseurannan. Pysäköintitila voi olla pysäköintikenttä tai -laitos. </p>

    <h2 class="text-xl font-semibold pt-6 pb-4">Liityntäpysäköinti helpottaa matkaasi</h2>
    <p class="text-sm">Liityntäpysäköinti tarjoaa sinulle mahdollisuuden jättää autosi turvallisesti pysäköintialueelle ja 
        jatkaa matkaasi julkisilla kulkuvälineillä. Tämä ei vain vähennä liikenteen ruuhkia, vaan myös auttaa 
        vähentämään päästöjä ja tekee liikkumisesta ympäristöystävällisempää.</p>

    <h2 class="text-xl font-semibold pt-6 pb-4">Miksi käyttää Liipyä?</h2>
    <p class="text-sm">Näet reaaliaikaisen tilanteen, kuinka monta parkkipaikkaa on tällä hetkellä vapaana. Tämä auttaa sinua suunnittelemaan matkasi niin,
    että löydät helposti lähimmän liityntäpysäköinti alueen, jossa on vielä tilaa. Kun tiedät etukäteen kuinka paljon parkkipaikkoja on vapaana, säästät aikaa ja vaivaa, kun et joudu etsimään vapaata pysäköintialuetta.</p>
    <p class="pt-4 text-sm">Reaaliaikaisen tilanneseurannan avulla voit tehdä älykkäämpiä päätöksiä liikenteessä. Et käytä turhaa aikaa parkkipaikan etsimiseen 
    ja voit suunnitella matkasi niin, että se sujuu mahdollisimman vaivattomasti. Älä kuitenkaan käytä Liipyä ajaessa!</p>

    <h2 class="text-xl font-semibold pt-6 pb-4">Liityntäpysäköinti on nykypäivää</h2>
    <p class="text-sm">Liityntäpysäköinti on nykypäivänä liikkumisen avain, ja me haluamme auttaa sinua hyödyntämään sitä täysimääräisesti. 
    Seuraa reaaliaikaista tilannetta ja tee matkastasi sujuva ja ympäristöystävällinen kokemus.
    Tervetuloa liityntäpysäköinnin maailmaan, jossa liikkuminen on helpompaa ja ympäristöystävällisempää kuin koskaan!</p>
  </div>

<h3 class="text-xl font-semibold text-center">Liityntäpysäköinnin reaaliaikainen paikkatilanne</h3>

<div *ngIf="items.length > 0; else loading">
    <div *ngFor="let item of items" class="max-w-5xl mx-auto pb-6 p-4">
        <div class="relative overflow-x-auto drop-shadow-lg rounded-xl">
            <div class="pt-3 pl-6 bg-white">
                <h2 class="text-xl font-bold">{{ item.listName }}</h2>
            </div>
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 bg-white border-b">
                        <tr>
                            <th scope="col" class="px-6 py-2 font-light">
                                Nimi
                            </th>
                            <th scope="col" class="px-6 py-2 font-light">
                                Tilaa nyt
                            </th>
                            <th scope="col" class="px-6 py-2 font-light hide">
                                Autojen kapasitetti
                            </th>
                            <th scope="col" class="px-6 py-2 font-light hide">
                                Sähköautojen kapasitettti
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let facility of item.items"
                            class="bg-white border-b hover:bg-gray-50">
                            <td class="px-6 py-4">
                                {{ facility.name }}
                            </td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                {{ facility.spacesAvailable }}
                            </td>
                            <td class="px-6 py-4 hide">
                                {{ facility.builtCapacityCar }}
                            </td>
                            <td class="px-6 py-4 hide">
                                {{ facility.builtCapacityElectricCar }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <span class="text-xs text-gray-400">( {{item.items[0].timestamp}} )</span>
        </div>
        <div class="max-w-5xl mx-auto pb-6 p-4">
            <h2 class="text-xl font-semibold pt-6 pb-2">Lisätietotja liityntäpysäköinnistä</h2>
            <p class="text-sm pb-4">Hinnat ja aikarajoitukset saattavat vaihdella pysäköintitilan mukaan, joten tarkista lisätiedot etukäteen <a class="text-xs underline underline-offset-2 hover:text-sky-600 text-sky-500" href="https://www.hsl.fi/matkustaminen/liityntapysakointi" title="hsl info liityntäpysäköinnistä" target="_blank">täältä</a></p>
            <p class="text-xl">Yhteys </p>
            <a class="text-sm underline underline-offset-2 hover:text-sky-600 text-sky-500" href="mailto:liityntapysakointi@gmail.com?subject:Kysyttävää liipystä">liityntapysakointi@gmail.com</a>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="flex items-center justify-center p-6">
        <p>...ladataan</p>
    </div>
  </ng-template>

<div class="text-center text-xs p-4 text-gray-700 bg-white">
  <p class="text-gray-700">Tieto vapaista paikoista on HSL:n arvio viiden (5) minuutin tarkkuudella. Ylläpito ei vastaa tietojen oikeellisuudesta.</p>
  <p>© 2023 Liipy</p>
</div>