<div class="bg-gray-50">
	<div class="flex p-4">
		<h1 class="text-4xl font-semibold tracking-widest uppercase">Liipy</h1>
		<span class="text-xs self-end">{{ appVersion }}</span>
	</div>
<!-- <pre>{{  items | json}}</pre> -->

<div *ngFor="let item of items" class="max-w-5xl mx-auto pb-6 p-4">
	<div class="relative overflow-x-auto drop-shadow-lg rounded-xl">
		<div class="pt-3 pl-6 bg-white">
      <h2 class="text-xl font-bold">{{ item.listName }}</h2>
			</div>
			<table class="w-full text-sm text-left text-gray-500">
				<thead class="text-xs text-gray-700 bg-white border-b">
					<tr>
						<th scope="col" class="px-6 py-2 font-light">
							Nimi
						</th>
            			<th scope="col" class="px-6 py-2 font-light">
							Tilaa nyt
						</th>
						<th scope="col" class="px-6 py-2 font-light hide">
							Autojen kapasitetti
						</th>
						<th scope="col" class="px-6 py-2 font-light hide">
							Sähköautojen kapasitettti
						</th>
					</tr>
				</thead>
				<tbody>
					<tr
          *ngFor="let facility of item.items"
						class="bg-white border-b hover:bg-gray-50">
						<td class="px-6 py-4">
							{{ facility.name }}
						</td>
            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
							{{ facility.spacesAvailable }}
						</td>
						<td class="px-6 py-4 hide">
							{{ facility.builtCapacityCar }}
						</td>
						<td class="px-6 py-4 hide">
							{{ facility.builtCapacityElectricCar }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    <span class="text-xs text-gray-400">( {{item.items[0].timestamp}} )</span>
	</div>
</div>
<div class="text-center text-xs p-4 text-gray-700 ">
  <p class="text-gray-700">Tieto vapaista paikoista on HSL:n arvio viiden (5) minuutin tarkkuudella. Ylläpito ei vastaa tietojen oikeellisuudesta. Datan tuottaa HSL</p>
</div>
<router-outlet></router-outlet>
