<div class="p-4 pb-80">
    <a class="text-md underline underline-offset-2" routerLink="">Takaisin</a>
    <h1 class="pt-4 text-xl font-medium">Tietosuojaseloste - Evästeet ja Google Tag Manager</h1>
    <p>Päivitetty viimeksi: 20.09.2023</p>


  <p>
    Tämä tietosuojaseloste selittää, miten liityntapysakointi.fi käyttää evästeitä ja Google Tag Manageria ("GTM")
    kerätäkseen tietoa verkkosivuston käytöstäsi ja parantaakseen käyttökokemustasi. Hyväksymällä evästeet hyväksyt evästeiden ja GTM:n käytön tämän selosteen mukaisesti.
  </p>

  <h2 class="text-md font-medium py-2">Mitä ovat evästeet?</h2>

  <p>
    Evästeet ovat pieniä tekstitiedostoja, jotka tallennetaan laitteellesi, kun vierailet verkkosivustolla. Ne auttavat
    verkkosivustoja tunnistamaan selaimen ja tallentamaan tiettyjä tietoja ja asetuksia.
  </p>

  <h2 class="text-md font-medium py-2">Miten käytämme evästeitä ja GTM:ää?</h2>

  <p>
    Käytämme evästeitä ja GTM:ää seuraaviin tarkoituksiin:
  </p>

  <ul class="p-2">
    <li>
      <strong>Analytiikka:</strong> Evästeiden ja GTM:n avulla keräämme anonyymiä tietoa siitä, miten käytät
      verkkosivustoamme. Tämä auttaa meitä ymmärtämään paremmin käyttäjiemme tarpeita ja parantamaan sivuston toimivuutta.
    </li>
    <li>
      <strong>Mainonta:</strong> Saatamme käyttää evästeitä kohdentaaksemme mainontaa käyttäjille, jotka ovat vieraillut
      sivustollamme aiemmin. Tämä auttaa meitä tarjoamaan relevantimpaa mainontaa.
    </li>
    <li>
      <strong>Toiminnallisuus:</strong> Joissakin tapauksissa käytämme evästeitä ja GTM:ää parantaaksemme verkkosivustomme
      toiminnallisuutta.
    </li>
  </ul>

  <h2 class="text-md font-medium py-2">Evästeiden hallinta</h2>

  <p>
    Voit hallita evästeitä ja estää niiden käytön selaimessasi. Voit yleensä mukauttaa evästeasetuksiasi selaimen
    asetuksissa. Ole kuitenkin tietoinen siitä, että evästeiden estäminen saattaa vaikuttaa verkkosivuston toimintaan ja
    käyttäjäkokemukseen.
  </p>


  <h2 class="text-md font-medium py-2">Kolmannen osapuolen evästeet</h2>

  <p>
    Huomioithan, että kolmannen osapuolen palvelut, kuten mainosverkostot, saattavat myös asettaa omia evästeitään
    verkkosivustollemme. Emme valvo näiden evästeiden käyttöä. Suosittelemme tarkistamaan kyseisten kolmannen osapuolen
    palvelujen tietosuojaselosteet lisätietojen saamiseksi.
  </p>

  <!-- 
  <h2>Yhteystiedot</h2>

  <p>
    Jos sinulla on kysymyksiä evästeistä tai tietosuojakäytännöistämme, voit ottaa yhteyttä meihin osoitteeseen:
  </p>

  <address>
    [Verkkosivuston yhteystiedot]
  </address>

-->

  <h2 class="text-md font-medium py-2">Muutokset tietosuojaselosteeseen</h2>

  <p>
    Pidätämme oikeuden päivittää tätä tietosuojaselostetta tarvittaessa, joten suosittelemme säännöllistä tarkistamista
    mahdollisten muutosten varalta.
  </p>
  </div>